<div class="row content_middle_bottom">
    <div class="col-md-4">
        <h3 class="m_2">Meus SOUPs</h3>
        <div class="course_demo">
            <ul id="flexiselDemo3">
                <li><%= image_tag('pic4.png') %><div class="desc">
                        <h3>Cristiano Ronaldo<br><span class="m_text">Jogador/Futebol</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                        <div class="coursel_list">
                            <i class="heart1"> </i>
                            <i class="like"> </i>
                        </div>
                        <div class="coursel_list1">
                            <i class="twt"> </i>
                            <i class="fb"> </i>
                        </div>
                        <div class="clear"></div>
                    </div></li>
                <li><%= image_tag('pic5.png') %><div class="desc">
                        <h3>Ronaldo Fenômeno<br><span class="m_text">Jogador/Futebol</span></h3>
                        <p>Lorem ipsum dolor  sit amet, consectetuer.</p>
                        <div class="coursel_list">
                            <i class="heart2"> </i>
                            <i class="like1"> </i>
                        </div>
                        <div class="coursel_list1">
                            <i class="twt"> </i>
                            <i class="fb"> </i>
                        </div>
                        <div class="clear"></div>
                    </div></li>
            </ul>
        </div>
    </div>
</div>
